.background-img {
    background-image: url("./bg-gradient-pink-yellow.png");
    background-size: cover;
    text-align: center;
    margin: 0;
    height: 575px;
}

.color-light-1 {
    background-color: #AFE9C2;
}

.color-off-white {
    background-color: #FDF6CE;
}


.img-picker {
    opacity: 1;
}

.img-picker:hover {
    opacity: 0.5;
}

/* theme colors:
#005151 dark green
#FDF6CE light yellow - lemon chiffon
#17183B dark blue - for text
#FFD6EC pastel pink
#AFE9C2 mint

 */
