.background-gradient {
    /* background-image: url("./Images/bg-gradient-pink-yellow.png");
    background-size: cover; */
    background: rgb(253,246,206);
    background: linear-gradient(135deg, rgba(253,246,206,1) 45%, rgba(255,214,236,1) 100%);
    text-align: center;
    margin: 0;
    height: 700px;
}

footer {
    /* background: rgb(253,246,206); */
    background: linear-gradient(135deg, rgba(253,246,206,1) 45%, rgba(255,214,236,1) 100%);
    text-align: center;
    margin: 0;
    height: 100px;
}

#intro {
    padding-top: 12rem;
}

#avatar {
    border-radius: 50%;
    width: 15rem;
    margin: 1rem;
}

#about-me {
    background-color: #f5f5f5;
}
.img-picker {
    opacity: 1;
}

.img-picker:hover {
    opacity: 0.5;
}

/* theme colors:
#005151 dark green
#FDF6CE light yellow - lemon chiffon
#17183B dark blue - for text
#FFD6EC pastel pink
#AFE9C2 mint

 */
